body {
    font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden {
    display: none;
}

img {
    display: block;
}


h1,
h2,
h3,
p,
ul,
a {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.section {
    padding: 94px 0;

}


/*HEADEEEEEEEEEEEEEEEEEEEEEEEEEERr*/

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;

}

.site-nav {

    display: flex;
    align-items: center;
    width: 100%;

}

.link-logo {
    display: flex;
    align-items: center;
}


.site-nav-link {
    display: flex;
    margin-left: 75px;
    gap: 35px;
}



.link-item {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    color: #212121;



}


.addres {
    display: flex;
    margin-left: auto;
    gap: 50px;


}

.addres-link {
    color: #757575;
    font-size: 14px;
    margin-bottom: 5px;
}

.addres-link:hover {
    color: #2196F3;
}


.logo {
    font-family: "Raleway";
    margin-right: 30px;
    /* Отступ от логотипа до меню */
    margin-left: 15px;
    /* Смещение логотипа левее */
}

.link-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.logo-accent {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}


/* Стили для состояния наведения и фокуса */
.link-item:hover,
.link-item:focus {
    color: #2196F3;
    /* Цвет текста при наведении и фокусе */
    background-color: white;
    /* Фоновый цвет при наведении */
}

/* Стили для активной ссылки */
.link-item.active {
    color: #2196F3;
    /* Цвет текста для активной страницы */
    font-weight: bold;
    /* Жирный текст для активной страницы */

}



.addres-link:hover,
.addres-link:focus {
    color: #2196F3;
    background-color: white;
}

/* MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIIIIIIIN*/

.hero {
    background-color: #2F303A;
    text-align: center;
}

.hero-container {
    padding: 200px 0;

}

.hero-title {
    margin: 0 auto;
    color: #FFFFFF;
    width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    padding: 10px 32px;
    border-radius: 4px;
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
}

/* I NEED A HEEEEEEEEROOOOOOO */

.section-ad {
    margin-bottom: 0;
    padding-bottom: 0;

}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.item {
    display: flex;
    gap: 20px;
}



.title-item {

    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03px;
    text-align: center;
}

.text-item {
    color: #757575;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03px;
}


/* BAD BOYS BAD BOYS WHAT WE GONNA DO WHAT WE GONNA DO BAD BOYS BAD BOYS */


.title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03px;
    text-align: center;
}

.link {
    display: flex;
    /* Включаем flexbox */
    justify-content: center;
    /* Центрируем изображения по горизонтали */
    gap: 20px;
    /* Отступы между изображениями */
}

/* OUR TEAAAAAAAAAAAAAAAAAAAAM */

.people {
    background-color: #F5F4FA;
}

.team {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.06em;
}

.team-list {
    display: flex;
    gap: 30px;

}

.persons {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-description {
    padding: 30px 0;
}


.team-title {
    color: #212121;
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03px;
    text-align: center;
}

.team-info {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03px;
    text-align: center;
}


/* FOOOTER LOGO*/

.link-footer {
    font-family: "Raleway";
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15px;
    letter-spacing: 0.03;
}

.logo-footer {
    font-family: "Raleway";
    color: #2196F3
}

/* REAL FOOTEEEER*/

.footer {
    padding: 60px 0;
    background-color: #2F303A;
}


.footer-list {
    margin-top: 20px;
}


.footer-item-link {
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.71
}

.footer-item-links {
    display: inline-block;
    color: #FFFFFF99;
    font-style: normal;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.71;
}

.footer-item-link:hover,
.footer-item-link:focus {
    color: #2196F3;
}

.footer-item-links:hover,
.footer-item-links:focus {
    color: #2196F3;
}

/* PORTFOLIOOOO*/



.portfolio-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-button-list-item {
    margin-left: 8px;
}


.portfolio-button {
    padding: 6px 22px;
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

/* IMAGESSSSS */


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list-text {
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-list-text:nth-child(3n) {
    margin-right: 0;
  }
  
  .portfolio-list-text:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

.portfolio-description {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0px;
}

.portfolio-title {
    
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}