body {
    font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


img {
    display: block;
}


h1,
h2,
h3,
p,
ul,
a {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.section {
    padding: 94px 0;

}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;

}

.site-nav {

    display: flex;
    align-items: center;
    width: 100%;

}

.link-logo {
    display: flex;
    align-items: center;
}


.site-nav-link {
    display: flex;
    margin-left: 75px;
    gap: 35px;
}



.link-item {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    color: #212121;
}


.addres {
    display: flex;
    margin-left: auto;
    gap: 50px;


}

.addres-link {
    color: #757575;
    font-size: 14px;
    margin-bottom: 5px;
}

.addres-link:hover {
    color: #2196F3;
}


.logo {
    font-family: "Raleway";
    margin-right: 30px;
    /* Отступ от логотипа до меню */
    margin-left: 15px;
    /* Смещение логотипа левее */
}

.link-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.logo-accent {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}


/* Стили для состояния наведения и фокуса */
.link-item:hover,
.link-item:focus {
    color: #2196F3;
    /* Цвет текста при наведении и фокусе */
    background-color: white;
    /* Фоновый цвет при наведении */
}

/* Стили для активной ссылки */
.link-item.active {
    color: #2196F3;
    /* Цвет текста для активной страницы */
    font-weight: bold;
    /* Жирный текст для активной страницы */

}



.addres-link:hover,
.addres-link:focus {
    color: #2196F3;
    background-color: white;
}




.portfolio-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-button-list-item {
    margin-left: 8px;
}


.portfolio-button {
    padding: 6px 22px;
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

/* IMAGESSSSS */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 25px;                     
}               


.portfolio-list-text {
    width: calc(33.3333% - 20px);    /* Это устанавливает ширину элементов для трех колонок */
      
}

.portfolio-list-text:nth-child(3n) {
    margin-right: 0;
  }
  
  .portfolio-list-text:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

.portfolio-description {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0px;
}

.portfolio-title {
    
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.link-footer {
    font-family: "Raleway";
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15px;
    letter-spacing: 0.03;
}

.logo-footer {
    font-family: "Raleway";
    color: #2196F3
}

/* REAL FOOTEEEER*/

.footer {
    padding: 60px 0;
    background-color: #2F303A;
}

.footer-container {
    padding-left: 0;
    padding-right: 0;
}


.footer-list {
    margin-top: 20px;
}


.footer-item-link {
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71
}

.footer-item-links {
    display: inline-block;
    color: #FFFFFF99;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-item li:not(:last-child) {
    margin-bottom: 9px;
  }

.footer-item-link:hover,
.footer-item-link:focus {
    color: #2196F3;
}

.footer-item-links:hover,
.footer-item-links:focus {
    color: #2196F3;
}
